body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 50px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Estilo específico para los campos de entrada dentro del formulario */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="submit"] {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}
